---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$primary-color: #111111;

@import "minimal-mistakes";

.sidebar {
  @include breakpoint($large) {
    opacity: 1;
  }
}

div.pricing-row {
  margin: 0 -15px;
}

div.pricing-row:before, div.pricing-row:after {
  display: table;
  content: " ";
}

div.pricing-row:after {
  clear: both;
}

div.pricing-tier {
  width: 50%;
  padding: 0 15px;
  float: left;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 15px;

  .pricing-tier-inner {
    border-radius: 5px;
    box-shadow: 0 1px 4px #ddd;
    background: #fff;
    overflow: hidden;
    text-align: center;
  }

  &.standard a {
    background: linear-gradient(45deg, #98D2DB 0%, #4472CF 100%);
  }

  &.pro a {
    background: linear-gradient(45deg, #98dba0 0%, #44cfb1 100%);
  }

  &.enterprise a {
    background: linear-gradient(45deg, #DBD098 0%, #CFC144 100%);
  }

  &.trainer a {
    background: linear-gradient(45deg, #DB9898 0%, #CF4444 100%);
  }

  header {
    background: #2f2f2f;
    padding: 20px 0;
  }

  h1 {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    color: #fff;
    margin: 0;
  }

  a {
    text-shadow: 0 1px 0 #79b385;
    margin: 0;
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
    font-weight: 700;
    display: block;
    text-decoration: none;
    cursor: pointer;
  }

  sup {
    font-size: 12px;
    line-height: 20px;
    margin: 0 1px;
  }

  em {
    text-decoration: underline;
    font-style: normal;
  }

  span {
    font-weight: 400;
    font-size: 10px;
    margin: 0 1px;
  }

  ul {
    display: inline-block;
    margin: 0 auto;
    padding: 30px 0;
  }

  li {
    list-style: none;
    text-align: left;
    padding: 5px 0;
    font-size: 16px;
    color: #999;
  }

  strong {
    color: #000;
  }
}

@media(max-width: 1000px) {
  div.pricing-tier {
    width: 100%;
  }
}

#client-inquiry {
  margin-top: 30px;
  padding: 0 15px;
  position: relative;

  p {
    text-indent: 0;
    margin-bottom: 2.5rem;
  }

  button[type="submit"] {
    float: right;
  }
}

#client-inquiry:before, #client-inquiry:after {
  display: table;
  content: " ";
}

#client-inquiry:after {
  clear: both;
}

#inquiry-loading {
  display: none;
  position: absolute;
  z-index: 1;
  background: rgba(255,255,255,0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }

  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
      }
  }

  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
      }
  }
}

#client-inquiry-success,
#client-inquiry-error {
  display: none;
}

#client-inquiry-error {
  blockquote {
    border-left-color: #CF4444;
    color: #CF4444;
  }
}

@import 'classy-llama-page';